html, body, ul, li{
	margin: 0;
	padding: 0;
}

.gallery{
	width: 860px;
	margin: 0 auto;
	text-align: center;
}

.gallery .photos{
	position: relative;
	height: 670px;
	overflow: hidden;
}

.gallery .photos img{
	width: 100%;
	position: absolute;
	left: 0;
	transform: translateX(100%);
}

.gallery .photos img.showed{
	transition: transform 0.5s linear;
	transform: translateX(0);
}